/*HEADER*/
.nav-link {
    color: black;
    opacity: 0.50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}

.header {
    border-bottom: 1px solid black;
}

/*FOOTER*/

.footer {
    border-top: 1px solid black;
    
}
.list {
    list-style: none;
    align-items: center;
}
#contact-us{
    font-size: 1rem;
}
.text-footer{
    color: black;
    opacity: 0.5;
    font-size: 0.75rem;
}
#adress{
    color: black;
    opacity: 0.5;
    font-size: 0.75rem;
}
#note{
    font-size: 0.75rem;
    opacity: 0.4;
}
/*Text format*/

.ppalheadings {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;

}
.sndheadings {
    font-size: 1.1rem;
    font-family: 'Roboto',sans-serif;
}
.list {
    font-size: 0.75rem;
    font-family: 'Roboto',sans-serif;
}


/*Buttons*/

.btn {
    font-size: 0.75rem;
    
}
/*Product cards*/
.card-title{
    font-size: 1rem;
}
.p-price{
    font-size: 0.85rem;
}

.card-text{
    font-size: 0.75rem;
}

/*Background Color*/
.filters {
    background-color: #F7F9FC ;
}


/*Shopping Cart*/
.cartBox{
    background-color: #F7F9FC;
}

#msg-empty-cart{
    opacity: 0.25;
}

#price{
    border: 1px solid black;
    border-radius: .25rem;
}

.cancel{
    color: black;
}

/*SHOPPING CART MODAL*/

.modal-dialog{
    width: auto;
}

.modal-item-list{
    font-size: 1rem;
}

#modal-price{
    border: 1px solid black;
    border-radius: .25rem;
}

#total-price-modal{
    font-size: 1.5rem;
}


@media(max-width:768px){
    .body{
        margin: auto;
    }
    /*HEADER*/

    #form-search{
        padding: 0rem !important;
    }

    .input-group{
        width: 80%;
        margin-left: 40px;
    }

    /*Page Body*/

    .ppalheadings {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .sndheadings {
        font-size: 0.85rem;
    }

    .list {
       padding: 0px !important;
    }

    .msg-empty-cart{
        font-size: 0.85rem;
    }
    
    /*FOOTER*/

    .text-footer{
        color: black;
        opacity: 0.5;
        font-size: 0.65rem;
    }

    .map{
        width: 100%;
    }


}
@media(max-width:540px){
   /*HEADER*/

   #logo-header{
       width: 80px;
   }
   
  .input-group{
    width: 80%;
    margin-left: 30px;
}


/*SHOPPING CART*/
.list {
    font-size: 0.5rem;
    font-family: 'Roboto',sans-serif;
}
.cart-total-price{
    font-size: 0.75rem;
}

.btn {
    font-size: 0.5rem;
}

/*MODAL CART*/

.modal-item-list{
    font-size: 0.75rem;
}

#modal-price{
    border: 1px solid black;
    border-radius: .25rem;
}

#total-price-modal{
    font-size: 1rem;
}

/*TEXT FORMAT*/

.ppalheadings{
     font-size: small;
}
.total-price{
        font-size: x-small;
}

/*CONTACT PAGE*/

#contact-text{
    font-size: 0.75rem;
}

form div label{
    font-size: 0.75rem;
}

/*FOOTER*/

.map{
    width: 100%;
}

.footer-icons{
    width: 10% !important;
color: blac
}
